/bin/
/target/
.classpath
.project
.settings/
data-platform/.idea/*
data-platform/Test.iml
service/service.iml
web-api/WebApi.iml
com.opendmp.iml
*.iml

app/js/bin/template/templates.js
app/css

node_modules/
npm-debug.log
static/js
static/css
static/fonts
static/img
dashboard/js
dashboard/css
dashboard/fonts
dashboard/img
appDetail/css
.idea/

.idea/*
analytics/.idea/
target/*
Backend/Backend.iml
dcs/Dcs.iml


.DS_Store
analytics/src/main/java/
cross-chennel/CrossChennel.iml
fraud-detection/
data-platform/target/
